* {
  margin: 0;
  padding: 0;
}
:root {
  --font-Logo-title: "Oswald", sans-serif;
  --font-navBar: "Ubuntu", monospace;
  --font-rest: "Ubuntu mono", monospace;
  --font-weigth-rest: 700;
  --background-landingPage: linear-gradient(180deg, #5b3567 0%, #090f1f 43%);
  --background-btn: rgb(253, 47, 92);
  --background-btnGradient: linear-gradient(54deg, #fd2f5c 0%, #fe8c01 100%);
  --background-cards: #090f1f;
  --background-navBar: #5b3567;
  --background-body-mainPage: #090f1f;
  --heartFav-Color: rgb(253, 47, 92);
}
.liFooter {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.teamTitle {
  color: white !important;
  font-family: var(--font-Logo-title);
  text-align: center;
  margin-bottom: 30px;
}
.title {
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  font-family: var(--font-Logo-title);
}
main {
  width: 100vw;
  padding: 5%;
  height: 100%;
}
.avatarCont {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: space-evenly;
}
.avatar {
  color: white;
  font-family: var(--font-Logo-title);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  background: linear-gradient(180deg, #5b3567 0%, #090f1f 43%);
  background-attachment: fixed;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--background-navBar);
}
.optNavBar {
  font-family: var(--font-navBar);
  font-weight: var(--font-weigth-rest);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  /* background: var(--background-btn); */
  background: var(--background-btnGradient);
  padding: 10px 40px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(184, 35, 69, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(184, 35, 69, 1);
  box-shadow: 3px 3px 0px 0px rgba(184, 35, 69, 1);
}
.optNavBar:active {
  transform: translate(3px, 3px);
  -webkit-transform: translate(3px, 3px);
  -moz-transform: translate(3px, 3px);
}
.usersCartCont {
  display: flex;
  gap: 20px;
  align-items: center;
}
.optNavBarCont {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.iconUserNavBar {
  color: white;
  font-size: 1.5rem;
}
.admin {
  display: none;
}
/* ---------DropddownMenuNavBar---------- */
.dropdownOpt {
  display: none;
  border: none;
  background: var(--background-btnGradient);
  outline: none;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(184, 35, 69, 1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(184, 35, 69, 1);
  box-shadow: 3px 3px 0px 0px rgba(184, 35, 69, 1);
}
.dropdown-menu {
  background: var(--background-btnGradient);
}
.optNavBarDropDown {
  font-family: var(--font-navBar);
  font-weight: var(--font-weigth-rest);
  padding-left: 5%;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
}
.dropdown-toggle::after {
  display: none;
  content: "";
}
/* ---------DropddownMenuNavBar---------- */
/* -----------DropDownUserNavBar---------- */
button {
  outline: none;
}
.dropdownUser {
  background: none;
  border: none;
  outline: none;
}
.carrouselMin {
  display: none;
}
/* -----------LastNews---------- */
.lastNewsCont {
  padding: 10px 40px;
}
hr {
  color: white;
}

/* --------SCROLBAR-------- */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--background-body);
}

*::-webkit-scrollbar-thumb {
  background-color: #fe8c01;
}
/* ---------Favoritosoffcanvas---------- */
.offcanvas {
  background-color: #fe8c01;
}
.cardFavCont {
  position: relative;
  margin-top: 5px;
  border-radius: 5px;
  border: solid transparent 1px;
  display: flex;
  width: 100%;
  height: 100px;
}
.btnDeleteFav {
  position: absolute;
  display: none;
  font-family: var(--font-Logo-title);
}
.priceNameContFav {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.priceContFav {
  display: flex;
  justify-content: space-between;
}
.cardFavCont:hover {
  cursor: pointer;
  border: solid var(--background-cards) 1px;
}
.cardFavCont:hover {
  .btnDeleteFav {
    display: block;
  }
}
a {
  text-decoration: none !important;
  color: white;
}
div.row {
  display: flex !important;
  flex-direction: row !important;
}
div h2 {
  color: white;
}
footer {
  /* position: absolute;
  bottom: 0; */
  display: flex;
  background: #5b3567;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  border-top: 3px white solid;
  margin-top: 30px;
  padding-bottom: 20px;
}
.logo {
  padding-top: 40px;
  font-family: var(--font-Logo-title);
}
.sections {
  padding-top: 20px;
  font-family: var(--font-rest);
  font-weight: 100;
  font-size: 0.8rem;
}
.contact {
  padding-top: 40px;
  font-family: var(--font-rest);
  font-size: 0.8rem;
}
@media (max-width: 426px) {
  main {
    margin-bottom: 100%;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .lastNewsCardsCont {
    justify-content: center;
  }
  .cardProdCont {
    width: 100%;
  }
  .priceCardContName {
    font-size: 1.2rem;
  }
  .carrouselMin {
    display: block;
  }
  .carrouselMax {
    display: none;
  }
  .logoCont {
    display: none;
  }
  .optNavBarCont {
    display: none;
  }
  .dropdown-toggle {
    display: block;
  }
  nav {
    padding: 10px 20px;
  }
  .iconCards,
  .iconAddToCart {
    color: var(--heartFav-Color);
    display: block;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  .lastNewsCardsCont {
    justify-content: space-evenly;
  }
  .logoCont {
    display: flex;
    gap: 10px;
  }
  .optNavBarCont {
    display: none;
  }
  .dropdown-toggle {
    display: block;
  }
  nav {
    padding: 10px 20px;
  }
  .iconCards,
  .iconAddToCart {
    color: var(--heartFav-Color);
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .iconCards,
  .iconAddToCart {
    display: block;
    color: var(--heartFav-Color);
  }
  .lastNewsCardsCont {
    justify-content: space-evenly;
  }
  .logoCont {
    display: flex;
    gap: 10px;
  }
  .optNavBarCont {
    display: none;
  }
  .dropdown-toggle {
    display: block;
  }
  nav {
    padding: 10px 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .optNavBar {
    padding: 10px 20px;
  }
}
@media (min-width: 1200px) {
}
