* {
  
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}
body {
  height: 100vh;
  width: 100vw;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* background: linear-gradient(180deg, #25232f 0%, #090f1f 43%); */
  background: linear-gradient(180deg, #5B3567 0%, #090f1f 43%);
}
h1 {
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Oswald', sans-serif;
  /* font-weight: bolder; */
  color: #dff2e6 !important;
  margin: 20px !important;
  font-size: 4rem !important;
}
.cont {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  display: block;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  word-spacing: -7px;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(184,35,69,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(184,35,69,1);
  box-shadow: 5px 5px 0px 0px rgba(184,35,69,1);
}
.linkHover {
  display: none;
}
a:hover {
  .link{
    display: none;
  }
  .linkHover {
    display: block;
    color: white;
  }
}
.cta-button {
  font-family: "Ubuntu Mono", monospace;
  font-weight:700;
  display: block;
  font-size: 2rem;
  width: 25vw !important;
  height: 100px;
  margin: 20px !important;
  border-radius: 15px;
  background: rgb(253, 47, 92);
  background: linear-gradient(54deg, #fd2f5c 0%, #fe8c01 100%);
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-button:hover {
  background-color: #0056b3;
}
footer {
  position: absolute;
  bottom: 0;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #dff2e6 !important;
}
.bi {
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  font-size: 30px;
}
.bi:hover {
  cursor: pointer;
  color: #fe8c01;
}
@media (max-width: 425px) {
  .cs-button {
    display: flex;
    flex-direction: column;
  }
  .cta-button { 
  width: 70vw !important;
  }

}
@media (min-width: 425px) and (max-width: 768px) {
  .cs-button {
    display: flex;
    flex-direction: column;
  }
  .cta-button { 
  width: 70vw !important;
  }

}
@media (min-width: 768px) and (max-width: 992px) {
  .cta-button { 
    width: 30vw !important;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {

}
@media (min-width: 1200px) {

}