* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-Logo-title: 'Oswald', sans-serif;
    --font-navBar: "Ubuntu", monospace;
    --font-rest: "Ubuntu mono", monospace;
    --font-weigth-rest: 700;
    --background-landingPage: linear-gradient(180deg, #5B3567 0%, #090f1f 43%);
    --background-btn: rgb(253, 47, 92);
    --background-btnGradient: linear-gradient(54deg, #fd2f5c 0%, #fe8c01 100%);
    --background-navBar: #5B3567;
    --background-cards: #090f1f;
    --background-body-mainPage: #090f1f;
    --heartFav-Color: rgb(253, 47, 92);

}
.liFooter {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
body {
    background: var(--background-body-mainPage);
    /* width: 100vw; */
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
.title {
    color: white;
    font-size: 2rem;
    margin-bottom: 0;
    font-family: var(--font-Logo-title);
}
h1 {
    font-size: 1.5rem;
    font-family: var(--font-Logo-title);
}
a {
    text-decoration: none;
}
.offcanvas {
    background-color: #fe8c01;
}
.inputSearchCont {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    font-family: var(--font-rest);
    flex-wrap: wrap;
}
#inputSearch, #select  {
    border-radius: 5px;
    padding: 0 5px;
}
.btnPaidOffCanvasCont {
    margin-left: 10px;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}
.btnPaidOffCanvas {
    margin: auto;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
    background: var(--background-btnGradient);
    -webkit-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
}
/* --------SCROLBAR-------- */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--background-body);
}

*::-webkit-scrollbar-thumb {
    background-color: #fe8c01;
}
/* ----------NavBar------------ */
nav {
    height: 10vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 2;
    background-color: var(--background-navBar);
}
.optNavBar {
    font-family: var(--font-navBar);
    font-weight: var(--font-weigth-rest);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    /* background: var(--background-btn); */
    background: var(--background-btnGradient);
    padding: 10px 40px;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
}
.optNavBar:active {
    transform: translate(3px,3px);
    -webkit-transform: translate(3px,3px);
    -moz-transform: translate(3px,3px);
}
.usersCartCont {
    display: flex;
    gap: 20px;
    align-items: center;
}
.optNavBarCont {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.iconUserNavBar{
    color: white;
    font-size: 1.5rem;
}
.admin {
    display: none;
}
.btnOffCanvasOpt {
    display: none;
    background: var(--background-btnGradient);
    border: none;
    outline: none;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
}
/* ---------DropddownMenuNavBar---------- */
.dropdownOpt {
    display: none;
    border: none;
    background: var(--background-btnGradient);
    outline: none;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
}
.dropdown-menu {
    background: var(--background-btnGradient);
}
.optNavBarDropDown {
    font-family: var(--font-navBar);
    font-weight: var(--font-weigth-rest);
    padding-left: 5%;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
}
.dropdown-toggle::after {
    display: none;
    content: "";
}
main {
    width: 100%;
}
.cardsCont {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.cardProdCont {
    width: 250px;
    padding-bottom: 20px;
    border: transparent solid 1px;
    border-radius: 15px;
    color: white;
    background-color: var(--background-cards);
    -webkit-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
    box-shadow: 3px 3px 0px 0px rgba(184,35,69,1);
}
.imgCardContLN {
    position: relative;
}
.iconCards {
    display: none;
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
    text-align: end;
}
.iconAddToCart {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 30px;
}

.imgCard {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.priceCardContName {
    padding: 10px;
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-rest);
}
.priceCardCont {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.disc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:medium;
}
h1 {
    font-family: var(--font-Logo-title);
}
.cardProdCont:hover {
    cursor: pointer;
    .iconCards, .iconAddToCart {
        color: var(--heartFav-Color);
        display: block;
    }
}
.offCanvasCont {
    margin-top: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cardProdOffCanvas {
    width: 50%;
    height: 30%;
}

/* ---------Favoritosoffcanvas---------- */
.btnCounterCont {
    font-family: var(--font-rest);
}
.btnCart {
    background-color: transparent;
    /* border: none; */
    width: 25px;
    margin: 0 10px;
    border-radius: 5px;
}
.btnCart:hover {
    background-color: gray;
}
.offcanvas {
    background-color: #fe8c01;
}
.cardFavCont {
    position: relative;
    margin-top: 5px;
    border-radius: 5px;
    border: solid transparent 1px;
    display: flex;
    width: 100%;
    height: 100px;
}
.btnDeleteFav {
    position: absolute;
    display: none;
    font-family: var(--font-Logo-title);
}
.priceNameContFav {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
.priceContFav {
    display: flex;
    justify-content: space-between;
}
.cardFavCont:hover {
    cursor: pointer;
    border: solid var(--background-cards) 1px;
}
.cardFavCont:hover {
    .btnDeleteFav {
        display: block;
    }
}

/* ----------FOOTER---------- */
footer {
    display: flex;
    background:  #5B3567;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    width: 100%;
    border-top: 3px white solid;
    margin-top: 30px;
    padding-bottom: 20px;
}
.logo {
    padding-top: 40px;
    font-family: var(--font-Logo-title);
}
.sections {
    padding-top: 20px;
    font-family: var(--font-rest);
    font-weight: 100;
    font-size: 0.8rem;
}
.contact {
    padding-top: 40px;
    font-family: var(--font-rest);
    font-size: 0.8rem;
}

/* -----------MEDIAQUERIES---------- */

@media (max-width: 426px) {
    .iconAddToCart {
        display: block;
        color: var(--heartFav-Color);
    }
    .cardProdCont {
        width: 100%;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .iconCards {
        display: block;
        color: var(--heartFav-Color);
    }
    .inputSearchCont {
        justify-content: space-evenly;
    }
    .optNavBarCont {
        display: none;
    }
    .usersCartCont {
        gap: 10px;
    }
    .logoCont {
        display: flex;
        flex-direction: column;
    }
    .namePriceContCart {
        padding-right: 10px;
        border-right: 1px solid gray;
    }
    .title {
        font-size: 1.2rem;
    }
    .cartCont {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 100vw;
        height: 20vh;
        /* border: 1px pink solid; */
        position: absolute;
        top: 10vh;
        color: white;
    }
    .prodCont {
        display: flex;
        justify-content: center;
        margin-top: 20vh;
        width: 100vw;
        margin-left: 0;
    }
    .opcCardsCont {
        display: none;
    }
    .logoCont {
        display: flex;
        gap: 10px;
    }
    .dropdown-toggle{
        display: block;
    }
    nav {
        padding: 10px 20px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .iconAddToCart {
        display: block;
        color: var(--heartFav-Color);
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .iconCards {
        display: block;
        color: var(--heartFav-Color);
    }
    .inputSearchCont {
        gap: 5px;
        justify-content: center;
    }
    .logoCont {
        display: flex;
        flex-direction: column;
    }
    .namePriceContCart {
        padding-right: 10px;
        border-right: 1px solid gray;
    }
    .title {
        font-size: 1.2rem;
    }
    .cartCont {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 100vw;
        height: 20vh;
        /* border: 1px pink solid; */
        position: absolute;
        top: 10vh;
        color: white;
    }
    .prodCont {
        display: flex;
        justify-content: center;
        margin-top: 20vh;
        width: 100vw;
        margin-left: 0;
    }
    .opcCardsCont {
        display: none;
    }
    .logoCont {
        display: flex;
        gap: 10px;
    }
    .optNavBarCont {
        display: none;
    }
    .dropdown-toggle{
        display: block;
    }
    nav {
        padding: 10px 20px;
    }

}
@media (min-width: 768px) and (max-width: 992px) {
    .iconAddToCart {
        display: block;
        color: var(--heartFav-Color);
    }
    .iconCards {
        display: block;
        color: var(--heartFav-Color);
    }
    .inputSearchCont {
        gap: 5px;
        justify-content: start;
        padding-left: 20px;
    }
    .btnOffCanvasOpt {
        display: block;
    }
    .cartCont {
        width: 30vw;
        height: 90vh;
        /* border: 1px pink solid */
        position: fixed;
        top: 10vh;
        right: 0;
        color: white;
    }
    .prodCont {
        width: 70vw;
        margin-left: 0;
    }
    .logoCont {
        display: flex;
        gap: 10px;
    }
    .optNavBarCont {
        display: none;
    }
    .dropdown-toggle{
        display: block;
    }
    nav {
        padding: 10px 20px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .inputSearchCont {
        gap: 5px;
        justify-content: start;
        padding-left: 20px;
    }
    .title {
        font-size: 1.5rem;
    }
    .prodCont {
        width: 55vw;
        margin-left: 25vw;
    }
    .optNavBar {
        padding: 10px 20px;
    }
    .cartCont {
        padding: 10px;
        width: 20vw;
        height: 90vh;
        /* border: 1px pink solid; */
        position: fixed;
        top: 10vh;
        right: 0;
        color: white;
    }
}
@media (min-width: 1200px) {
    .inputSearchCont {
        gap: 5px;
        justify-content: start;
        padding-left: 20px;
    }
    .cartCont {
        padding: 10px;
        width: 20vw;
        height: 90vh;
        /* border: 1px pink solid; */
        position: fixed;
        top: 10vh;
        right: 0;
        color: white;
    }
}