.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
  width: calc(150px * 12);
}

.slider .slide {
  width: 150px;
  margin: 20px !important;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-150px * 3));
    transform: translateX(calc(-150px * 3));
  }
}
